/*/obj
/*/bin
/GenesisEngine/Content/obj
_ReSharper*/
[Tt]est[Rr]esult*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.vsp
*.coverage
*.cachefile
*.psess
*.app.ctl
*.krn.ctl
*.docstates

/Specs/*.xml
